div
  .center-align(ng-hide="feats.length")
    img(src="img/spinner.gif")
  li(ng-repeat="feat in feats | orderBy:'-date' track by $index")
    h4 {{ feat.title }}
      small.aaa.mlm {{ feat.date | date }}
    p {{ feat.desc }}
